/*GENERAL
    transform: translate(-50%,-50%);/*coloca el punto de referencia al centro*/
:root {
    --primary-color: #1c1c1c;
    --secondary-color: #4d4d4d;
    --background-color: rgb(16, 16, 16);
    --nav-text-color: #ffffff;
    --text-color: #7d7d7d;
    --text-secundary-color:#ff9dd8 ;
    --heading-color: aliceblue;

    --text-dani: rgb(255, 175, 222);
    --text-drv: rgb(0, 114, 137);
}

body {
    background-color: var(--background-color);
    font-family: 'Urbanist','Arial', sans-serif; /* Cambiar por alguna fuente personalizada si lo deseas */
}


.container-fluid{
    padding: 0;
}

span{
    color: var(--text-secundary-color);
}


/*NAV*/
.navbar {
    background-color: var(--primary-color);
    width: 100%;
    z-index: 1;
    height: var(--navbar-height);
    padding-left: 1rem;
}

.navbar-brand,
.nav-link {
    color: var(--nav-text-color);
}

.navbar-brand:hover,
.nav-link:hover {
    color: var(--text-secundary-color);
}


/*BACKGROUND INDEX-TOP*/
#bg {
    position: relative;
    height: 30rem;
    overflow: hidden;
}
#bg-img{ 
}

#bg-text{
    text-align: center;
    padding: 2rem;
    color: aliceblue;
    transform: translate(-50%,-50%);/*coloca el punto de referencia al centro*/
    width: 100%;
    background-color: #16161664;

    /*Position ABSOLUT FROM RELATIVE*/
    position: absolute;
    top: 50%;
    left: 50%;

}

section{
    color: var(--text-color);
    background-color: var(--primary-color);
    margin: 2rem;
    padding: 2rem;
    border-radius: 10px;
}

/*Secciones*/
.parrafo-index{
    margin-top: 3rem;
    font-size: 1.2rem;
    font-weight: 400;
}
#our-clients p{
    margin-top: 1rem;
}

iframe{
    width: 400px;
    height: 250px;
}

section img{
    border-radius: 10px;
    margin-block: 0.5rem;
}


/*Footer*/
footer{
    text-align: center;
    color: var(--text-color);
    background-color: var(--primary-color);
    padding: 0.2rem;

}

/*Artistas*/
#card-dani{
    color: var(--text-dani);
}
#card-drv h2{
    color: var(--text-drv);
}

#title-art{
    color: var(--text-color);
    margin: 1rem 0 0 0;
    text-align: center;
    font-size: 5rem;
}
.art-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}