/*GENERAL
    transform: translate(-50%,-50%);/*coloca el punto de referencia al centro*/
:root {
    --primary-color: #161616;
    --secondary-color: #4a4a4a;
    --accent-color: #ffffff;
    --text-color: #7d7d7d;
    --heading-color: aliceblue;
    --background-color: rgb(0, 0, 0);
    --navbar-height: 60px;
}

body {
    background-color: var(--background-color);
    font-family: 'Arial', sans-serif; /* Cambiar por alguna fuente personalizada si lo deseas */
}
.container-fluid{
    padding: 0;
}



/*NAV*/
.navbar {
    background-color: var(--primary-color);
    width: 100%;
    z-index: 1;
    height: var(--navbar-height);
}

.navbar-brand, 
.navbar-nav .nav-link {
    color: var(--accent-color);
}


/*BACKGROUND INDEX-TOP*/
#bg {
    position: relative;
}
#bg-img{
    
}

#bg-text{
    text-align: center;
    padding: 2rem;
    color: aliceblue;
    transform: translate(-50%,-50%);/*coloca el punto de referencia al centro*/
    width: 100%;
    background-color: #16161664;

    /*Position ABSOLUT FROM RELATIVE*/
    position: absolute;
    top: 50%;
    left: 50%;

}

